<a class="items-center hidden h-full mr-auto md:flex" href="http://localhost/page/dashboard">
  <%= image_pack_tag 'media/images/logo.png', alt: "Penplay logo", class: 'h-14' %>
  <div class="ml-4 text-base font-light">
    <span style="font-family: 'Croissant One'; color: #185384;">Penplay<span>
  </div>
</a>
