<div class="fixed top-0 left-0 hidden w-16 h-screen side-menu md:block">
  <div class="flex flex-col justify-center w-full h-full pt-16 overflow-hidden border-r side-menu__content box border-theme-3 dark:bg-dark-2 dark:border-dark-2 -intro-x">
    <a class="relative py-5 text-gray-600 -intro-x side-menu__content__link dark:text-gray-300 tooltip" href="javascript:;.html" data-placement="right" title="Write" data-content="write">
      <i data-feather="edit" class="w-5 h-5 mx-auto"></i>
    </a>

    <a class="relative py-5 text-gray-600 -intro-x side-menu__content__link dark:text-gray-300 tooltip" href="javascript:;.html" data-placement="right" title="People" data-content="people">
      <i data-feather="users" class="w-5 h-5 mx-auto"></i>
    </a>

    <a class="relative py-5 text-gray-600 -intro-x side-menu__content__link dark:text-gray-300 tooltip" href="javascript:;.html" data-placement="right" title="Profile" data-content="profile">
      <i data-feather="user" class="w-5 h-5 mx-auto"></i>
    </a>

    <a class="relative py-5 text-gray-600 -intro-x side-menu__content__link dark:text-gray-300 tooltip" href="settings.html" data-placement="right" title="Settings">
      <i data-feather="settings" class="w-5 h-5 mx-auto"></i>
    </a>
  </div>
</div>
