<div class="flex flex-col p-6 overflow-hidden chat-box border-theme-5 col-span-12 xl:col-span-6 xl:border-l xl:border-r" data-content="editor">
  <div class="flex-1 pt-5 overflow-y-scroll scrollbar-hidden">
    <h1>Editor here</h1>
  </div>
</div>
