<div class="w-auto pt-16 ml-auto mr-auto -mt-16 xl:-ml-16 xl:pl-16 xl:h-screen sm:w-3/5 xl:w-auto grid grid-cols-12 gap-6">
  <%= render partial: 'workspace' %>
  <%= render partial: 'editor' %>
  <%= render partial: 'discussions' %>
</div>
